<!-- Main -->
<article id="main">

	<header class="special container">
		<span class="icon fa-envelope"></span>
		<h2>Get In Touch</h2>
		<p>Use the form below with your question and we will get back to you.</p>
	</header>

	<!-- One -->
	<section class="wrapper style4 special container 75%">

		<!-- Content -->
		<div class="content">
			<form #form="ngForm" (ngSubmit)="submitForm(form.value)">
				<div class="row 50%">
					<div class="6u 12u(mobile)">
						<input type="text" name="name" [(ngModel)]="form.name" #name="ngModel" required minlength="4" maxlength="24" placeholder="Name"/>
					</div>
					<div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
						<div [hidden]="!name.errors.required">
							Name is required
						</div>			
					</div>
					<div class="6u 12u(mobile)">
						<input type="email" name="email" [(ngModel)]="form.email" required placeholder="Email" />
					</div>
				</div>
				<div class="row 50%">
					<div class="12u">
						<input type="text" name="subject" required [(ngModel)]="form.subject" placeholder="Subject" />
					</div>
				</div>
				<div class="row 50%">
					<div class="12u">
						<textarea name="message" placeholder="Message" [(ngModel)]="form.message" required rows="7"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="12u">
						<ul class="buttons">
							<li><input [disabled]="!form.form.valid" type="submit" class="special" value="Send Message" /></li>
						</ul>
					</div>
				</div>
			</form>
		</div>

	</section>

</article>