<!-- Banner -->
<section id="banner">
	<div class="inner">
		<header>
			<h2>Spanish <br/>In <br/> London</h2>
			<p>Learn the language and explore the culture, right here in the capital</p>

		</header>
		<footer>
			<p>Want to fing out more?</p>
			<ul class="buttons vertical">
				<li><a routerLink="services" class="button fit scrolly">VAMOS!</a></li>
			</ul>
		</footer>
	</div>
</section>
<article id="main">

	<header class="special container">
		<h2>
			We are a team of <strong>native, qualified</strong> and <strong>experienced</strong> Spanish tutors passionate about teaching
			our language!
		</h2>
		<p>
			We believe that it is vital to provide innovative, interactive and lively lessons. Thanks to our experience, we have incorporated
			a variety of teaching methods to make the process of learning fun and effective. Our aim is to make you feel enthusiastic
			about learning Spanish.
		</p>
	</header>

	<!-- One -->
	<section class="wrapper style2 container special-alt">
		<div class="row 50%">
			<div class="8u 12u(narrower)">

				<header>
					<h2>What we offer</h2>
				</header>
				<p>
					Classes with native speakears.<br /> We come to you<br />Skype Lessons<br /> Continous feedback to help you reach your
					goals
				</p>



				<footer>
					<ul class="buttons">
						<li><a href="#" class="button">Find Out More</a></li>
					</ul>
				</footer>

			</div>
			<div class="4u 12u(narrower) important(narrower)">

				<ul class="featured-icons">
					<li><span class="icon fa-comments"><span class="label">Feature 1</span></span>
					</li>
					<li><span class="icon fa-skype"><span class="label">Feature 2</span></span>
					</li>
					<li><span class="icon fa-map-o"><span class="label">Feature 3</span></span>
					</li>
					<li><span class="icon fa-line-chart"><span class="label">Feature 4</span></span>
					</li>
					<li><span class="icon fa-lock"><span class="label">Feature 5</span></span>
					</li>
					<li><span class="icon fa-cog"><span class="label">Feature 6</span></span>
					</li>
				</ul>

			</div>
		</div>
	</section>
	<!-- Two -->
	<section class="wrapper style1 container special worked-with">
		<h2>Who we have worked with</h2>
		<div class="row">
			<div class="3u 12u 12u(mobile)">
				<img class="worked-with" src="../../assets/images/BBC-logo.png" />
			</div>
			<div  class="4u 12u 12u(mobile)">
				<img class="worked-with" src="../../assets/images/Google_logo.png" />
			</div>
			<div class="5u 12u 12u(mobile)">
				<img class="worked-with" src="../../assets/images/Betfair_logo.png" />
			</div>
		
		</div>
		<div class="row">
			<div class="6u 12u(mobile)">
				<img class="worked-with" src="../../assets/images/reuter-logo.png" />
			</div>
			<div class="6u 12u 12u(mobile)">
				<img class="worked-with" src="../../assets/images/sabadell_logo.png" />
			</div>
		</div>
	</section>
</article>