<!-- Banner -->
<section id="banner">
	<div class="inner">
		<header>
			<h2>Spanish <br/>In <br/> London</h2>
			<p>Learn the language and explore the culture, <br/> right here in the capital</p>
		</header>
	</div>
</section>
<article id="main">

	<header class="special container">
		<h2>
			We are a team of <strong>native, qualified</strong> and <strong>experienced</strong> Spanish and Catalan tutors passionate
			about teaching our language!
		</h2>
		<p>
			We believe that it is vital to provide innovative, interactive and lively lessons.<br/> Thanks to our experience, we have
			incorporated a variety of teaching methods to make the process of learning fun and effective.<br/> Our aim is to make
			you feel enthusiastic about learning Spanish and Catalan.
		</p>
	</header>

	<!-- One -->
	<section class="wrapper style2 container special-alt">
		<div class="row 50%">
			<div class="8u 12u(narrower)">

				<header>
					<h2>What we offer a range of <strong>services</strong> to help you achieve your learning goals. </h2>
				</header>
				<p>
					We are a provider of world-class private, business and corporate Spanish and Catalan training throughout central London.
					At Spanish in London we specialise in helping businesses and individuals throughout the world succeed in international
					markets by providing first-class business and corporate language tuition that drives effective communication. Each and
					every language course is unique and tailored to your specific business requirements, ensuring that your corporate language
					training goals are met in the shortest time possible.
				</p>
				<footer>
					<ul class="buttons">
						<li><a href="#" class="button">Find Out More</a></li>
					</ul>
				</footer>

			</div>
			<div class="4u 12u(narrower) important(narrower)">

				<ul class="featured-icons">
					<li><span class="icon fa-comments"><span class="label">Feature 1</span></span>
					</li>
					<li><span class="icon fa-skype"><span class="label">Feature 2</span></span>
					</li>
					<li><span class="icon fa-map-o"><span class="label">Feature 3</span></span>
					</li>
					<li><span class="icon fa-line-chart"><span class="label">Feature 4</span></span>
					</li>
					<li><span class="icon fa-lock"><span class="label">Feature 5</span></span>
					</li>
					<li><span class="icon fa-cog"><span class="label">Feature 6</span></span>
					</li>
				</ul>

			</div>
		</div>
	</section>

	<!-- CTA -->
	<section id="cta">

		<header>
			<h2>What level am I?</h2>
			<p>Take our free online test and see what level you are</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="#" class="button special">Take the test</a></li>
			</ul>
		</footer>
	</section>
	<!-- Two -->
	<section class="wrapper style1 container special">
		<h2>Why choose Spanish In London</h2>
		<div class="row">
			<div class="4u 12u(narrower)">
				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Study Anwhere</h3>
					</header>
					<p>We know you are buys, so we come to any location in central london, making it easy to fit your studies around your timetable</p>
				</section>

			</div>
			<div class="4u 12u(narrower)">

				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Experienced native speaker</h3>
					</header>
					<p>We have been teaching for over 10 years and have put that experience into creating an excellent environment to learn.

					</p>
				</section>

			</div>
			<div class="4u 12u(narrower)">

				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Business or pleasure?</h3>
					</header>
					<p>Want to nail that business deal in Spanish or just get about in a Spanish speaking country like a native. We tailor
						our teaching to your needs.
					</p>
				</section>

			</div>
		</div>
		<div class="row">
			<div class="2u 12u(narrower)">
			</div>
			<div class="4u 12u(narrower)">

				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Beginner or Expert</h3>
					</header>
					<p>Experts in beginner and advanced training we can take you from nothing to fluent.</p>
				</section>

			</div>
			<div class="4u 12u(narrower)">

				<section>
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Something Else</h3>
					</header>
					<p>Experts in beginner and advanced training we can take.</p>
				</section>

			</div>
			<div class="2u 12u(narrower)">
			</div>
		</div>
	</section>
	<!-- Three -->
	<section class="wrapper style3 container special worked-with">
		<h2>Who we have worked with</h2>
		<div class="row">
			<div class="3u 12u 12u(mobile)">
				<img class="worked-with" src="../../assets/images/BBC-logo.png" />
			</div>
			<div class="4u 12u 12u(mobile)">
				<img class="worked-with" src="../../assets/images/Google_logo.png" />
			</div>
			<div class="5u 12u 12u(mobile)">
				<img class="worked-with" src="../../assets/images/Betfair_logo.png" />
			</div>

		</div>
		<div class="row">
			<div class="6u 12u(mobile)">
				<img class="worked-with" src="../../assets/images/reuter-logo.png" />
			</div>
			<div class="6u 12u 12u(mobile)">
				<img class="worked-with" src="../../assets/images/sabadell_logo.png" />
			</div>
		</div>
	</section>
</article>